[Unit]
Description=Set power profile
After=com.system76.PowerDaemon.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/power.sh

[Install]
WantedBy=multi-user.target ac.target dc.target
